h1 {
    color: white;
    font-family: 'Baskerville Old Face', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-style: dashed;
    border-color: yellow;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    margin-top: 1em;
    background-color: black;
}

h2 {
    color: white;
    font-family: 'Baskerville Old Face', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-style: dashed;
    border-color: yellow;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    margin-top: 1em;
    background-color: black;
}
p {
    border-style: dashed;
    border-color: yellow;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    padding-left: 20%;
    padding-right: 20%;
    background: black;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
}
a {
    color: red;
    text-decoration: none;
    display: inline;
}
html {
    background-color:black;
}