h1 {
    color: white;
    font-family:'Baskerville Old Face', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Baskerville Old Face', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*padding-left: 5%;*/
    text-align: center;
}
p {
    border-style: dashed;
    border-color: yellow;
    color: white;
    letter-spacing: 2px;
    padding-left: 20%;
    padding-right: 20%;
    background: black;
    width: 80%;
    margin: auto;
    padding: 1em;
}
a {
    color:aquamarine;
    text-decoration: none;
    display:inline-block;
}
html {
    background-color:dimgray;
}